<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script type="text/javascript">


</script>
<body>
<form name="login" action="/checkLogin">
<!--  <input type="hidden" name="idd" id="idd">
 <input type="hidden" name="passwd" id="passwd"> -->
 
id: <input type="text" style="width: 250px" name="idd" id="idd"><br>
password:  <input type="password" style="width: 250px" name="passwd" id="passwd"><br>

<input type="submit" value="로그인">
</form>


</body> 
</html>